<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ExtractPath" value="C:\Users\User\Desktop\extract" />
    <add key="ZipPath" value="C:\Users\User\Desktop\2020_06_05_03_49_33.zip" />
    <add key="MetaInfoDelimiter" value="|" />
    <add key="ConnectionString" value="Data Source=DESKTOP-UFV09UF\SQL_SERVER_2012;Initial Catalog=Test2_2DB;Integrated Security=True" />
  </appSettings>
</configuration>